In [142]:
#iterate over n numbers, check if each of these is divisible by 7
n=50
for i in range(1, n+1):
    if i % 7 ==0: print(i, "<<<<")
    else: print(i)

1
2
3
4
5
6
7 <<<<
8
9
10
11
12
13
14 <<<<
15
16
17
18
19
20
21 <<<<
22
23
24
25
26
27
28 <<<<
29
30
31
32
33
34
35 <<<<
36
37
38
39
40
41
42 <<<<
43
44
45
46
47
48
49 <<<<
50

In [8]:
#you can use range() with one argument (end)
a=[v for v in range(10)]
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
#you can use range() with two arguments (start,end)
a=[v for v in range(5,10)]
print(a)

[5, 6, 7, 8, 9]

In [12]:
#you can use range() with three arguments (start,end,step)
a=[v for v in range(0,10,2)]
print(a)

[0, 2, 4, 6, 8]

In [13]:
10 % 3 # this is the remainder when dividing one number by another

1

In [14]:
9 % 3

0

In [15]:
#illustration of the remainder
big=10
small=4
big % small

2

In [16]:
#condition to check if remainder is zero
big % small == 0

False

In [17]:
#iterate over n numbers, check if each of these is divisible by 7

In [18]:
#you can nest two conditions, one if statment under another if statement
state="NY"
age=17
if state=="NY":
    if age>16:
        print("eligible")

eligible

In [19]:
#or you can put them together using "and"
if state=="NY" and age>16:
    print("eligible")

eligible

In [23]:
#now, in our fizzbuzz example, we can do it differently by specifying four different conditions
for i in range(1, 1 + 100):
    if i % 3 == 0 and i % 5 == 0:
        print(i, "FizzBuzz")
    elif i % 3 == 0:
        print(i,"Fizz")
    elif i % 5 == 0:
        print(i,"Buzz")
    else:
        print(i)

1
2
3 Fizz
4
5 Buzz
6 Fizz
7
8
9 Fizz
10 Buzz
11
12 Fizz
13
14
15 FizzBuzz
16
17
18 Fizz
19
20 Buzz
21 Fizz
22
23
24 Fizz
25 Buzz
26
27 Fizz
28
29
30 FizzBuzz
31
32
33 Fizz
34
35 Buzz
36 Fizz
37
38
39 Fizz
40 Buzz
41
42 Fizz
43
44
45 FizzBuzz
46
47
48 Fizz
49
50 Buzz
51 Fizz
52
53
54 Fizz
55 Buzz
56
57 Fizz
58
59
60 FizzBuzz
61
62
63 Fizz
64
65 Buzz
66 Fizz
67
68
69 Fizz
70 Buzz
71
72 Fizz
73
74
75 FizzBuzz
76
77
78 Fizz
79
80 Buzz
81 Fizz
82
83
84 Fizz
85 Buzz
86
87 Fizz
88
89
90 FizzBuzz
91
92
93 Fizz
94
95 Buzz
96 Fizz
97
98
99 Fizz
100 Buzz

In [25]:
#we do fibbonacci using lists
fib_list=[1,1]
len(fib_list) #get the size of the list

2

In [26]:
fib_list[0] #get the first item in a list

1

In [27]:
fib_list[-1] #the last item

1

In [28]:
fib_list[-2] #the second last item

1

In [29]:
next_fib=fib_list[-1]+fib_list[-2] #the next fib number is the sum of the last two in the list
next_fib

2

In [30]:
fib_list.append(next_fib) #we append the new fib number to the list

In [31]:
fib_list

[1, 1, 2]

In [32]:
len(fib_list)

3

In [33]:
fib_list.append(0) #we can append any number to the list

In [34]:
fib_list

[1, 1, 2, 0]

In [35]:
fib_list=[1,1] #initating the fib list with first two numbers

In [36]:
#now we do fib numbers using lists
for i in range(10):
    next_fib=fib_list[-1]+fib_list[-2]
    fib_list.append(next_fib)

In [37]:
fib_list

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144]

In [38]:
#working with lists
test_list=[0,5,3,2,1,8,9] 
print(len(test_list))

7

In [40]:
test_list[0], test_list[-1] #we can get first item, last item

(0, 9)

In [41]:
test_list[2:] #items starting index 2

[3, 2, 1, 8, 9]

In [42]:
test_list[2:5] #items from index 2 till before index 5

[3, 2, 1]

In [43]:
test_list

[0, 5, 3, 2, 1, 8, 9]

In [44]:
test_list[-2:] #the last two items

[8, 9]

In [45]:
test_list[-3:] #the last three items

[1, 8, 9]

In [46]:
test_list[:-3] #all items till the last three items

[0, 5, 3, 2]

In [47]:
test_list

[0, 5, 3, 2, 1, 8, 9]

In [48]:
sorted(test_list) #we can sort the list without changing the order of the original list

[0, 1, 2, 3, 5, 8, 9]

In [49]:
test_list

[0, 5, 3, 2, 1, 8, 9]

In [50]:
test_list.sort() #or we can sort it in place while changing the order of the original

In [51]:
test_list

[0, 1, 2, 3, 5, 8, 9]

In [52]:
#tracing the fib solution
lower = 1
upper = 1
for i in range(100):
  print(lower) #1 #1 #2
  temp = lower #1 #1 #2
  lower = upper #1 #2 #3
  upper += temp #2 #3 #5

1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946
17711
28657
46368
75025
121393
196418
317811
514229
832040
1346269
2178309
3524578
5702887
9227465
14930352
24157817
39088169
63245986
102334155
165580141
267914296
433494437
701408733
1134903170
1836311903
2971215073
4807526976
7778742049
12586269025
20365011074
32951280099
53316291173
86267571272
139583862445
225851433717
365435296162
591286729879
956722026041
1548008755920
2504730781961
4052739537881
6557470319842
10610209857723
17167680177565
27777890035288
44945570212853
72723460248141
117669030460994
190392490709135
308061521170129
498454011879264
806515533049393
1304969544928657
2111485077978050
3416454622906707
5527939700884757
8944394323791464
14472334024676221
23416728348467685
37889062373143906
61305790721611591
99194853094755497
160500643816367088
259695496911122585
420196140727489673
679891637638612258
1100087778366101931
1779979416004714189
2880067194370816120
4660046610375530309
7540113804746346429
12200160415121876738
19740274219868223167
31940434634990099905
51680708854858323072
83621143489848422977
135301852344706746049
218922995834555169026
354224848179261915075

In [53]:
ADDRESS = """Four score and seven years ago our fathers brought forth on this continent, a new nation, conceived in liberty, and dedicated to the proposition that all men are created equal. Now we are engaged in a great civil war, testing whether that nation, or any nation so conceived and so dedicated can long endure. We are met on a great battle-field of that war. We have come to dedicate a portion of that field, as a final resting place for those who here gave their lives that that nation might live. It is altogether fitting and proper that we should do this. But, in a larger sense, we can not dedicate-we can not consecrate-we can not hallow-this ground. The brave men, living and dead, who struggled here, have consecrated it, far above our poor power to add or detract. The world will little note, nor long remember what we say here, but it can never forget what they did here. It is for us the living, rather, to be dedicated here to the unfinished work which they who fought here have thus far so nobly advanced. It is rather for us to be here dedicated to the great task remaining before us-that from these honored dead we take increased devotion to that cause for which they gave the last full measure of devotion-that we here highly resolve that these dead shall not have died in vain-that this nation, under God, shall have a new birth of freedom—and that government of the people, by the people, for the people, shall not perish from the earth."""

In [54]:
#working with string variables
text="Linguistics"

In [55]:
text[0] #getting the first character in a string

'L'

In [57]:
text[-1] #and the last character

's'

In [58]:
text[2:6] #or a slice from character with index 2 till before index 6

'ngui'

In [60]:
text[-3:] #slice of last 3 letters

'ics'

In [61]:
len(text) #size of the word

11

In [143]:
#for each letter in "linguistics", print the letter, and if it has "i", print the letter +"<<<"
for char in text:
    if char.lower()=="i": print(char,"<<<")
    else: print(char)

L
i <<<
n
g
u
i <<<
s
t
i <<<
c
s

In [63]:
text.count("i") #count the letter "i" in the string

3

In [64]:
text

'Linguistics'

In [66]:
a_slice=ADDRESS[:100] #we can slice part of the address, first 100 characters

In [67]:
a_slice

'Four score and seven years ago our fathers brought forth on this continent, a new nation, conceived '

In [68]:
#two ways to count 1- using string.count()
a_slice.count("o")

10

In [69]:
#or iterate over the text, character by counter
counter=0
for char in a_slice:
    if char=="o": counter+=1
print(counter)

10

In [70]:
a_slice.count("co")

3

In [71]:
#understing the case problem
a_slice2='Four score And seven years Ago our fathers brought forth on this continent, A new nation, conceived '
a_slice2.count("a") #counting lower case

3

In [73]:
a_slice2.count("A") #counting upper case

3

In [82]:
counter=0
for char in a_slice2.lower(): #we normalize charaters to lower case to count 
    if char =="a": 
        counter+=1
print(counter)

6

In [80]:
a_slice2

'Four score And seven years Ago our fathers brought forth on this continent, A new nation, conceived '

In [87]:
counter=0
for char in a_slice2:
    char_lower=char.lower()
    #print(char,char_lower)
    if char.lower() =="a": 
        print(char) #we can see the original charcter, whether it is uppercase or lowercase
        counter+=1
print(counter)

A
a
A
a
A
a
6

In [88]:
char="A"

In [89]:
char

'A'

In [90]:
char.lower() #when we do .lowerr(), it doesn't change the original string

'a'

In [91]:
char

'A'

In [92]:
a="ACSC"
a.casefold() #casefold works here the same as lower()

'acsc'

In [93]:
a

'ACSC'

In [95]:
#now we do the address problem
#vowels=["a","e","i","o","u"]
vowels="aeiou"
counter=0
for char in ADDRESS:
    #char_lower=char.lower()
    #print(char,char_lower)
    #if char.lower() =="a": 
    if char.lower() in vowels: 
        #print(char)
        counter+=1
print(counter)

449

In [96]:
#understing lists, sets, tuples .. etc
my_list=[1,2,2,3,4,5,5]

In [97]:
my_list

[1, 2, 2, 3, 4, 5, 5]

In [98]:
tuple(my_list)

(1, 2, 2, 3, 4, 5, 5)

In [100]:
frozenset(my_list)

frozenset({1, 2, 3, 4, 5})

In [101]:
set(my_list)

{1, 2, 3, 4, 5}

In [103]:
#understanding dictionaries
phone_book={}

In [104]:
phone_book["John"]="333-333-4444"
phone_book["Mary"]="333-333-7777"

In [105]:
phone_book

{'John': '333-333-4444', 'Mary': '333-333-7777'}

In [106]:
phone_book["John"]

'333-333-4444'

In [108]:
#we can use tuples as dictionary keys, because they are hashable/immutable, unlike lists
phone_book_state={}
phone_book_state[("John","NY")]="333-333-4444"
phone_book_state[("John","CA")]="666-333-4444"

In [109]:
phone_book_state

{('John', 'CA'): '666-333-4444', ('John', 'NY'): '333-333-4444'}

In [110]:
name_state_pair=("Mary","NC")
phone="555-555-7777"
phone_book_state[name_state_pair]=phone

In [111]:
phone_book_state

{('John', 'CA'): '666-333-4444',
 ('John', 'NY'): '333-333-4444',
 ('Mary', 'NC'): '555-555-7777'}

In [112]:
#we cannot use lists as keys to dictionaries
name_state_pair=["Mary","CI"]
phone="888-555-7777"
phone_book_state[name_state_pair]=phone

TypeError: unhashable type: 'list'

In [113]:
#we can use strings as keys to dictionaries
phone_book_state["nnnn"]=3234234

In [114]:
phone_book_state

{('John', 'NY'): '333-333-4444',
 ('John', 'CA'): '666-333-4444',
 ('Mary', 'NC'): '555-555-7777',
 'nnnn': 3234234}

In [115]:
#we can use numbers as keys to dictionaries
phone_book_state[12312323]=24234234

In [116]:
phone_book_state

{('John', 'NY'): '333-333-4444',
 ('John', 'CA'): '666-333-4444',
 ('Mary', 'NC'): '555-555-7777',
 'nnnn': 3234234,
 12312323: 24234234}

In [117]:
#because we can hash strings
hash("nnnn")

-7242627455570730370

In [118]:
#and we can hash numbers
hash(12312323)

12312323

In [119]:
#and we can hash tuples
hash(('Mary', 'NC'))

-2985876801315860909

In [120]:
#hash function gives always the same values
hash("nnnn")

-7242627455570730370

In [121]:
#you cannot hash lists
hash([1,2])

TypeError: unhashable type: 'list'

In [122]:
fr=frozenset([1,2])

In [123]:
fr

frozenset({1, 2})

In [124]:
#you can hash frozen sets
hash(fr)

-1834016341293975159

In [125]:
st=set([1,2])

In [132]:
#hash(st)

#phone_book[fr]=13213
#print(phone_book)
hash(2)

2

In [133]:
#hashable: string, number, booleans, tuple, frozenset
#unhashable: lists, sets, dictionaries

In [134]:
#crude approach similar to hashing, giving numbers to strings based on their character values
ord("a") #ord is a built in function that gives the numerical value of a single character

97

In [135]:
#we can see the numerical values for characters by using chr() function, opposite to ord()
for i in range(200):
    print(i, chr(i))

0  
1 
2 
3 
4 
5 
6 
7 
8 
9
10

11
12
13
14 
15 
16 
17 
18 
19 
20 
21 
22 
23 
24 
25 
26 
27 
28
29
30
31
32
33 !
34 "
35 #
36 $
37 %
38 &
39 '
40 (
41 )
42 *
43 +
44 ,
45 -
46 .
47 /
48 0
49 1
50 2
51 3
52 4
53 5
54 6
55 7
56 8
57 9
58 :
59 ;
60 <
61 =
62 >
63 ?
64 @
65 A
66 B
67 C
68 D
69 E
70 F
71 G
72 H
73 I
74 J
75 K
76 L
77 M
78 N
79 O
80 P
81 Q
82 R
83 S
84 T
85 U
86 V
87 W
88 X
89 Y
90 Z
91 [
92 \
93 ]
94 ^
95 _
96 `
97 a
98 b
99 c
100 d
101 e
102 f
103 g
104 h
105 i
106 j
107 k
108 l
109 m
110 n
111 o
112 p
113 q
114 r
115 s
116 t
117 u
118 v
119 w
120 x
121 y
122 z
123 {
124 |
125 }
126 ~
127 
128 
129 
130 
131 
132 
133
134 
135 
136 
137 
138 
139 
140 
141 
142 
143 
144 
145 
146 
147 
148 
149 
150 
151 
152 
153 
154 
155 
156 
157 
158 
159 
160
161 ¡
162 ¢
163 £
164 ¤
165 ¥
166 ¦
167 §
168 ¨
169 ©
170 ª
171 «
172 ¬
173 ­
174 ®
175 ¯
176 °
177 ±
178 ²
179 ³
180 ´
181 µ
182 ¶
183 ·
184 ¸
185 ¹
186 º
187 »
188 ¼
189 ½
190 ¾
191 ¿
192 À
193 Á
194 Â
195 Ã
196 Ä
197 Å
198 Æ
199 Ç

In [137]:
word="about"
for letter in word:
    print(letter, ord(letter))

a 97
b 98
o 111
u 117
t 116

In [140]:
#now we can hash any word by adding the values of characters
word_hash=0
word="Hussein"
for letter in word:
    print(letter, ord(letter))
    word_hash+=ord(letter)

print("word hash", word, word_hash )

H 72
u 117
s 115
s 115
e 101
i 105
n 110
word hash Hussein 735

In [141]:
#we see extended list of characters with their values
for i in range(2000):
    print(i, chr(i))

0  
1 
2 
3 
4 
5 
6 
7 
8
9
10

11
12
13
14 
15 
16 
17 
18 
19 
20 
21 
22 
23 
24 
25 
26 
27 
28
29
30
31
32
33 !
34 "
35 #
36 $
37 %
38 &
39 '
40 (
41 )
42 *
43 +
44 ,
45 -
46 .
47 /
48 0
49 1
50 2
51 3
52 4
53 5
54 6
55 7
56 8
57 9
58 :
59 ;
60 <
61 =
62 >
63 ?
64 @
65 A
66 B
67 C
68 D
69 E
70 F
71 G
72 H
73 I
74 J
75 K
76 L
77 M
78 N
79 O
80 P
81 Q
82 R
83 S
84 T
85 U
86 V
87 W
88 X
89 Y
90 Z
91 [
92 \
93 ]
94 ^
95 _
96 `
97 a
98 b
99 c
100 d
101 e
102 f
103 g
104 h
105 i
106 j
107 k
108 l
109 m
110 n
111 o
112 p
113 q
114 r
115 s
116 t
117 u
118 v
119 w
120 x
121 y
122 z
123 {
124 |
125 }
126 ~
127 
128 
129 
130 
131 
132 
133
134 
135 
136 
137 
138 
139 
140 
141 
142 
143 
144 
145 
146 
147 
148 
149 
150 
151 
152 
153 
154 
155 
156 
157 
158 
159 
160
161 ¡
162 ¢
163 £
164 ¤
165 ¥
166 ¦
167 §
168 ¨
169 ©
170 ª
171 «
172 ¬
173 ­
174 ®
175 ¯
176 °
177 ±
178 ²
179 ³
180 ´
181 µ
182 ¶
183 ·
184 ¸
185 ¹
186 º
187 »
188 ¼
189 ½
190 ¾
191 ¿
192 À
193 Á
194 Â
195 Ã
196 Ä
197 Å
198 Æ
199 Ç
200 È
201 É
202 Ê
203 Ë
204 Ì
205 Í
206 Î
207 Ï
208 Ð
209 Ñ
210 Ò
211 Ó
212 Ô
213 Õ
214 Ö
215 ×
216 Ø
217 Ù
218 Ú
219 Û
220 Ü
221 Ý
222 Þ
223 ß
224 à
225 á
226 â
227 ã
228 ä
229 å
230 æ
231 ç
232 è
233 é
234 ê
235 ë
236 ì
237 í
238 î
239 ï
240 ð
241 ñ
242 ò
243 ó
244 ô
245 õ
246 ö
247 ÷
248 ø
249 ù
250 ú
251 û
252 ü
253 ý
254 þ
255 ÿ
256 Ā
257 ā
258 Ă
259 ă
260 Ą
261 ą
262 Ć
263 ć
264 Ĉ
265 ĉ
266 Ċ
267 ċ
268 Č
269 č
270 Ď
271 ď
272 Đ
273 đ
274 Ē
275 ē
276 Ĕ
277 ĕ
278 Ė
279 ė
280 Ę
281 ę
282 Ě
283 ě
284 Ĝ
285 ĝ
286 Ğ
287 ğ
288 Ġ
289 ġ
290 Ģ
291 ģ
292 Ĥ
293 ĥ
294 Ħ
295 ħ
296 Ĩ
297 ĩ
298 Ī
299 ī
300 Ĭ
301 ĭ
302 Į
303 į
304 İ
305 ı
306 Ĳ
307 ĳ
308 Ĵ
309 ĵ
310 Ķ
311 ķ
312 ĸ
313 Ĺ
314 ĺ
315 Ļ
316 ļ
317 Ľ
318 ľ
319 Ŀ
320 ŀ
321 Ł
322 ł
323 Ń
324 ń
325 Ņ
326 ņ
327 Ň
328 ň
329 ŉ
330 Ŋ
331 ŋ
332 Ō
333 ō
334 Ŏ
335 ŏ
336 Ő
337 ő
338 Œ
339 œ
340 Ŕ
341 ŕ
342 Ŗ
343 ŗ
344 Ř
345 ř
346 Ś
347 ś
348 Ŝ
349 ŝ
350 Ş
351 ş
352 Š
353 š
354 Ţ
355 ţ
356 Ť
357 ť
358 Ŧ
359 ŧ
360 Ũ
361 ũ
362 Ū
363 ū
364 Ŭ
365 ŭ
366 Ů
367 ů
368 Ű
369 ű
370 Ų
371 ų
372 Ŵ
373 ŵ
374 Ŷ
375 ŷ
376 Ÿ
377 Ź
378 ź
379 Ż
380 ż
381 Ž
382 ž
383 ſ
384 ƀ
385 Ɓ
386 Ƃ
387 ƃ
388 Ƅ
389 ƅ
390 Ɔ
391 Ƈ
392 ƈ
393 Ɖ
394 Ɗ
395 Ƌ
396 ƌ
397 ƍ
398 Ǝ
399 Ə
400 Ɛ
401 Ƒ
402 ƒ
403 Ɠ
404 Ɣ
405 ƕ
406 Ɩ
407 Ɨ
408 Ƙ
409 ƙ
410 ƚ
411 ƛ
412 Ɯ
413 Ɲ
414 ƞ
415 Ɵ
416 Ơ
417 ơ
418 Ƣ
419 ƣ
420 Ƥ
421 ƥ
422 Ʀ
423 Ƨ
424 ƨ
425 Ʃ
426 ƪ
427 ƫ
428 Ƭ
429 ƭ
430 Ʈ
431 Ư
432 ư
433 Ʊ
434 Ʋ
435 Ƴ
436 ƴ
437 Ƶ
438 ƶ
439 Ʒ
440 Ƹ
441 ƹ
442 ƺ
443 ƻ
444 Ƽ
445 ƽ
446 ƾ
447 ƿ
448 ǀ
449 ǁ
450 ǂ
451 ǃ
452 Ǆ
453 ǅ
454 ǆ
455 Ǉ
456 ǈ
457 ǉ
458 Ǌ
459 ǋ
460 ǌ
461 Ǎ
462 ǎ
463 Ǐ
464 ǐ
465 Ǒ
466 ǒ
467 Ǔ
468 ǔ
469 Ǖ
470 ǖ
471 Ǘ
472 ǘ
473 Ǚ
474 ǚ
475 Ǜ
476 ǜ
477 ǝ
478 Ǟ
479 ǟ
480 Ǡ
481 ǡ
482 Ǣ
483 ǣ
484 Ǥ
485 ǥ
486 Ǧ
487 ǧ
488 Ǩ
489 ǩ
490 Ǫ
491 ǫ
492 Ǭ
493 ǭ
494 Ǯ
495 ǯ
496 ǰ
497 Ǳ
498 ǲ
499 ǳ
500 Ǵ
501 ǵ
502 Ƕ
503 Ƿ
504 Ǹ
505 ǹ
506 Ǻ
507 ǻ
508 Ǽ
509 ǽ
510 Ǿ
511 ǿ
512 Ȁ
513 ȁ
514 Ȃ
515 ȃ
516 Ȅ
517 ȅ
518 Ȇ
519 ȇ
520 Ȉ
521 ȉ
522 Ȋ
523 ȋ
524 Ȍ
525 ȍ
526 Ȏ
527 ȏ
528 Ȑ
529 ȑ
530 Ȓ
531 ȓ
532 Ȕ
533 ȕ
534 Ȗ
535 ȗ
536 Ș
537 ș
538 Ț
539 ț
540 Ȝ
541 ȝ
542 Ȟ
543 ȟ
544 Ƞ
545 ȡ
546 Ȣ
547 ȣ
548 Ȥ
549 ȥ
550 Ȧ
551 ȧ
552 Ȩ
553 ȩ
554 Ȫ
555 ȫ
556 Ȭ
557 ȭ
558 Ȯ
559 ȯ
560 Ȱ
561 ȱ
562 Ȳ
563 ȳ
564 ȴ
565 ȵ
566 ȶ
567 ȷ
568 ȸ
569 ȹ
570 Ⱥ
571 Ȼ
572 ȼ
573 Ƚ
574 Ⱦ
575 ȿ
576 ɀ
577 Ɂ
578 ɂ
579 Ƀ
580 Ʉ
581 Ʌ
582 Ɇ
583 ɇ
584 Ɉ
585 ɉ
586 Ɋ
587 ɋ
588 Ɍ
589 ɍ
590 Ɏ
591 ɏ
592 ɐ
593 ɑ
594 ɒ
595 ɓ
596 ɔ
597 ɕ
598 ɖ
599 ɗ
600 ɘ
601 ə
602 ɚ
603 ɛ
604 ɜ
605 ɝ
606 ɞ
607 ɟ
608 ɠ
609 ɡ
610 ɢ
611 ɣ
612 ɤ
613 ɥ
614 ɦ
615 ɧ
616 ɨ
617 ɩ
618 ɪ
619 ɫ
620 ɬ
621 ɭ
622 ɮ
623 ɯ
624 ɰ
625 ɱ
626 ɲ
627 ɳ
628 ɴ
629 ɵ
630 ɶ
631 ɷ
632 ɸ
633 ɹ
634 ɺ
635 ɻ
636 ɼ
637 ɽ
638 ɾ
639 ɿ
640 ʀ
641 ʁ
642 ʂ
643 ʃ
644 ʄ
645 ʅ
646 ʆ
647 ʇ
648 ʈ
649 ʉ
650 ʊ
651 ʋ
652 ʌ
653 ʍ
654 ʎ
655 ʏ
656 ʐ
657 ʑ
658 ʒ
659 ʓ
660 ʔ
661 ʕ
662 ʖ
663 ʗ
664 ʘ
665 ʙ
666 ʚ
667 ʛ
668 ʜ
669 ʝ
670 ʞ
671 ʟ
672 ʠ
673 ʡ
674 ʢ
675 ʣ
676 ʤ
677 ʥ
678 ʦ
679 ʧ
680 ʨ
681 ʩ
682 ʪ
683 ʫ
684 ʬ
685 ʭ
686 ʮ
687 ʯ
688 ʰ
689 ʱ
690 ʲ
691 ʳ
692 ʴ
693 ʵ
694 ʶ
695 ʷ
696 ʸ
697 ʹ
698 ʺ
699 ʻ
700 ʼ
701 ʽ
702 ʾ
703 ʿ
704 ˀ
705 ˁ
706 ˂
707 ˃
708 ˄
709 ˅
710 ˆ
711 ˇ
712 ˈ
713 ˉ
714 ˊ
715 ˋ
716 ˌ
717 ˍ
718 ˎ
719 ˏ
720 ː
721 ˑ
722 ˒
723 ˓
724 ˔
725 ˕
726 ˖
727 ˗
728 ˘
729 ˙
730 ˚
731 ˛
732 ˜
733 ˝
734 ˞
735 ˟
736 ˠ
737 ˡ
738 ˢ
739 ˣ
740 ˤ
741 ˥
742 ˦
743 ˧
744 ˨
745 ˩
746 ˪
747 ˫
748 ˬ
749 ˭
750 ˮ
751 ˯
752 ˰
753 ˱
754 ˲
755 ˳
756 ˴
757 ˵
758 ˶
759 ˷
760 ˸
761 ˹
762 ˺
763 ˻
764 ˼
765 ˽
766 ˾
767 ˿
768 ̀
769 ́
770 ̂
771 ̃
772 ̄
773 ̅
774 ̆
775 ̇
776 ̈
777 ̉
778 ̊
779 ̋
780 ̌
781 ̍
782 ̎
783 ̏
784 ̐
785 ̑
786 ̒
787 ̓
788 ̔
789 ̕
790 ̖
791 ̗
792 ̘
793 ̙
794 ̚
795 ̛
796 ̜
797 ̝
798 ̞
799 ̟
800 ̠
801 ̡
802 ̢
803 ̣
804 ̤
805 ̥
806 ̦
807 ̧
808 ̨
809 ̩
810 ̪
811 ̫
812 ̬
813 ̭
814 ̮
815 ̯
816 ̰
817 ̱
818 ̲
819 ̳
820 ̴
821 ̵
822 ̶
823 ̷
824 ̸
825 ̹
826 ̺
827 ̻
828 ̼
829 ̽
830 ̾
831 ̿
832 ̀
833 ́
834 ͂
835 ̓
836 ̈́
837 ͅ
838 ͆
839 ͇
840 ͈
841 ͉
842 ͊
843 ͋
844 ͌
845 ͍
846 ͎
847 ͏
848 ͐
849 ͑
850 ͒
851 ͓
852 ͔
853 ͕
854 ͖
855 ͗
856 ͘
857 ͙
858 ͚
859 ͛
860 ͜
861 ͝
862 ͞
863 ͟
864 ͠
865 ͡
866 ͢
867 ͣ
868 ͤ
869 ͥ
870 ͦ
871 ͧ
872 ͨ
873 ͩ
874 ͪ
875 ͫ
876 ͬ
877 ͭ
878 ͮ
879 ͯ
880 Ͱ
881 ͱ
882 Ͳ
883 ͳ
884 ʹ
885 ͵
886 Ͷ
887 ͷ
888 ͸
889 ͹
890 ͺ
891 ͻ
892 ͼ
893 ͽ
894 ;
895 Ϳ
896 ΀
897 ΁
898 ΂
899 ΃
900 ΄
901 ΅
902 Ά
903 ·
904 Έ
905 Ή
906 Ί
907 ΋
908 Ό
909 ΍
910 Ύ
911 Ώ
912 ΐ
913 Α
914 Β
915 Γ
916 Δ
917 Ε
918 Ζ
919 Η
920 Θ
921 Ι
922 Κ
923 Λ
924 Μ
925 Ν
926 Ξ
927 Ο
928 Π
929 Ρ
930 ΢
931 Σ
932 Τ
933 Υ
934 Φ
935 Χ
936 Ψ
937 Ω
938 Ϊ
939 Ϋ
940 ά
941 έ
942 ή
943 ί
944 ΰ
945 α
946 β
947 γ
948 δ
949 ε
950 ζ
951 η
952 θ
953 ι
954 κ
955 λ
956 μ
957 ν
958 ξ
959 ο
960 π
961 ρ
962 ς
963 σ
964 τ
965 υ
966 φ
967 χ
968 ψ
969 ω
970 ϊ
971 ϋ
972 ό
973 ύ
974 ώ
975 Ϗ
976 ϐ
977 ϑ
978 ϒ
979 ϓ
980 ϔ
981 ϕ
982 ϖ
983 ϗ
984 Ϙ
985 ϙ
986 Ϛ
987 ϛ
988 Ϝ
989 ϝ
990 Ϟ
991 ϟ
992 Ϡ
993 ϡ
994 Ϣ
995 ϣ
996 Ϥ
997 ϥ
998 Ϧ
999 ϧ
1000 Ϩ
1001 ϩ
1002 Ϫ
1003 ϫ
1004 Ϭ
1005 ϭ
1006 Ϯ
1007 ϯ
1008 ϰ
1009 ϱ
1010 ϲ
1011 ϳ
1012 ϴ
1013 ϵ
1014 ϶
1015 Ϸ
1016 ϸ
1017 Ϲ
1018 Ϻ
1019 ϻ
1020 ϼ
1021 Ͻ
1022 Ͼ
1023 Ͽ
1024 Ѐ
1025 Ё
1026 Ђ
1027 Ѓ
1028 Є
1029 Ѕ
1030 І
1031 Ї
1032 Ј
1033 Љ
1034 Њ
1035 Ћ
1036 Ќ
1037 Ѝ
1038 Ў
1039 Џ
1040 А
1041 Б
1042 В
1043 Г
1044 Д
1045 Е
1046 Ж
1047 З
1048 И
1049 Й
1050 К
1051 Л
1052 М
1053 Н
1054 О
1055 П
1056 Р
1057 С
1058 Т
1059 У
1060 Ф
1061 Х
1062 Ц
1063 Ч
1064 Ш
1065 Щ
1066 Ъ
1067 Ы
1068 Ь
1069 Э
1070 Ю
1071 Я
1072 а
1073 б
1074 в
1075 г
1076 д
1077 е
1078 ж
1079 з
1080 и
1081 й
1082 к
1083 л
1084 м
1085 н
1086 о
1087 п
1088 р
1089 с
1090 т
1091 у
1092 ф
1093 х
1094 ц
1095 ч
1096 ш
1097 щ
1098 ъ
1099 ы
1100 ь
1101 э
1102 ю
1103 я
1104 ѐ
1105 ё
1106 ђ
1107 ѓ
1108 є
1109 ѕ
1110 і
1111 ї
1112 ј
1113 љ
1114 њ
1115 ћ
1116 ќ
1117 ѝ
1118 ў
1119 џ
1120 Ѡ
1121 ѡ
1122 Ѣ
1123 ѣ
1124 Ѥ
1125 ѥ
1126 Ѧ
1127 ѧ
1128 Ѩ
1129 ѩ
1130 Ѫ
1131 ѫ
1132 Ѭ
1133 ѭ
1134 Ѯ
1135 ѯ
1136 Ѱ
1137 ѱ
1138 Ѳ
1139 ѳ
1140 Ѵ
1141 ѵ
1142 Ѷ
1143 ѷ
1144 Ѹ
1145 ѹ
1146 Ѻ
1147 ѻ
1148 Ѽ
1149 ѽ
1150 Ѿ
1151 ѿ
1152 Ҁ
1153 ҁ
1154 ҂
1155 ҃
1156 ҄
1157 ҅
1158 ҆
1159 ҇
1160 ҈
1161 ҉
1162 Ҋ
1163 ҋ
1164 Ҍ
1165 ҍ
1166 Ҏ
1167 ҏ
1168 Ґ
1169 ґ
1170 Ғ
1171 ғ
1172 Ҕ
1173 ҕ
1174 Җ
1175 җ
1176 Ҙ
1177 ҙ
1178 Қ
1179 қ
1180 Ҝ
1181 ҝ
1182 Ҟ
1183 ҟ
1184 Ҡ
1185 ҡ
1186 Ң
1187 ң
1188 Ҥ
1189 ҥ
1190 Ҧ
1191 ҧ
1192 Ҩ
1193 ҩ
1194 Ҫ
1195 ҫ
1196 Ҭ
1197 ҭ
1198 Ү
1199 ү
1200 Ұ
1201 ұ
1202 Ҳ
1203 ҳ
1204 Ҵ
1205 ҵ
1206 Ҷ
1207 ҷ
1208 Ҹ
1209 ҹ
1210 Һ
1211 һ
1212 Ҽ
1213 ҽ
1214 Ҿ
1215 ҿ
1216 Ӏ
1217 Ӂ
1218 ӂ
1219 Ӄ
1220 ӄ
1221 Ӆ
1222 ӆ
1223 Ӈ
1224 ӈ
1225 Ӊ
1226 ӊ
1227 Ӌ
1228 ӌ
1229 Ӎ
1230 ӎ
1231 ӏ
1232 Ӑ
1233 ӑ
1234 Ӓ
1235 ӓ
1236 Ӕ
1237 ӕ
1238 Ӗ
1239 ӗ
1240 Ә
1241 ә
1242 Ӛ
1243 ӛ
1244 Ӝ
1245 ӝ
1246 Ӟ
1247 ӟ
1248 Ӡ
1249 ӡ
1250 Ӣ
1251 ӣ
1252 Ӥ
1253 ӥ
1254 Ӧ
1255 ӧ
1256 Ө
1257 ө
1258 Ӫ
1259 ӫ
1260 Ӭ
1261 ӭ
1262 Ӯ
1263 ӯ
1264 Ӱ
1265 ӱ
1266 Ӳ
1267 ӳ
1268 Ӵ
1269 ӵ
1270 Ӷ
1271 ӷ
1272 Ӹ
1273 ӹ
1274 Ӻ
1275 ӻ
1276 Ӽ
1277 ӽ
1278 Ӿ
1279 ӿ
1280 Ԁ
1281 ԁ
1282 Ԃ
1283 ԃ
1284 Ԅ
1285 ԅ
1286 Ԇ
1287 ԇ
1288 Ԉ
1289 ԉ
1290 Ԋ
1291 ԋ
1292 Ԍ
1293 ԍ
1294 Ԏ
1295 ԏ
1296 Ԑ
1297 ԑ
1298 Ԓ
1299 ԓ
1300 Ԕ
1301 ԕ
1302 Ԗ
1303 ԗ
1304 Ԙ
1305 ԙ
1306 Ԛ
1307 ԛ
1308 Ԝ
1309 ԝ
1310 Ԟ
1311 ԟ
1312 Ԡ
1313 ԡ
1314 Ԣ
1315 ԣ
1316 Ԥ
1317 ԥ
1318 Ԧ
1319 ԧ
1320 Ԩ
1321 ԩ
1322 Ԫ
1323 ԫ
1324 Ԭ
1325 ԭ
1326 Ԯ
1327 ԯ
1328 ԰
1329 Ա
1330 Բ
1331 Գ
1332 Դ
1333 Ե
1334 Զ
1335 Է
1336 Ը
1337 Թ
1338 Ժ
1339 Ի
1340 Լ
1341 Խ
1342 Ծ
1343 Կ
1344 Հ
1345 Ձ
1346 Ղ
1347 Ճ
1348 Մ
1349 Յ
1350 Ն
1351 Շ
1352 Ո
1353 Չ
1354 Պ
1355 Ջ
1356 Ռ
1357 Ս
1358 Վ
1359 Տ
1360 Ր
1361 Ց
1362 Ւ
1363 Փ
1364 Ք
1365 Օ
1366 Ֆ
1367 ՗
1368 ՘
1369 ՙ
1370 ՚
1371 ՛
1372 ՜
1373 ՝
1374 ՞
1375 ՟
1376 ՠ
1377 ա
1378 բ
1379 գ
1380 դ
1381 ե
1382 զ
1383 է
1384 ը
1385 թ
1386 ժ
1387 ի
1388 լ
1389 խ
1390 ծ
1391 կ
1392 հ
1393 ձ
1394 ղ
1395 ճ
1396 մ
1397 յ
1398 ն
1399 շ
1400 ո
1401 չ
1402 պ
1403 ջ
1404 ռ
1405 ս
1406 վ
1407 տ
1408 ր
1409 ց
1410 ւ
1411 փ
1412 ք
1413 օ
1414 ֆ
1415 և
1416 ֈ
1417 ։
1418 ֊
1419 ֋
1420 ֌
1421 ֍
1422 ֎
1423 ֏
1424 ֐
1425 ֑
1426 ֒
1427 ֓
1428 ֔
1429 ֕
1430 ֖
1431 ֗
1432 ֘
1433 ֙
1434 ֚
1435 ֛
1436 ֜
1437 ֝
1438 ֞
1439 ֟
1440 ֠
1441 ֡
1442 ֢
1443 ֣
1444 ֤
1445 ֥
1446 ֦
1447 ֧
1448 ֨
1449 ֩
1450 ֪
1451 ֫
1452 ֬
1453 ֭
1454 ֮
1455 ֯
1456 ְ
1457 ֱ
1458 ֲ
1459 ֳ
1460 ִ
1461 ֵ
1462 ֶ
1463 ַ
1464 ָ
1465 ֹ
1466 ֺ
1467 ֻ
1468 ּ
1469 ֽ
1470 ־
1471 ֿ
1472 ׀
1473 ׁ
1474 ׂ
1475 ׃
1476 ׄ
1477 ׅ
1478 ׆
1479 ׇ
1480 ׈
1481 ׉
1482 ׊
1483 ׋
1484 ׌
1485 ׍
1486 ׎
1487 ׏
1488 א
1489 ב
1490 ג
1491 ד
1492 ה
1493 ו
1494 ז
1495 ח
1496 ט
1497 י
1498 ך
1499 כ
1500 ל
1501 ם
1502 מ
1503 ן
1504 נ
1505 ס
1506 ע
1507 ף
1508 פ
1509 ץ
1510 צ
1511 ק
1512 ר
1513 ש
1514 ת
1515 ׫
1516 ׬
1517 ׭
1518 ׮
1519 ׯ
1520 װ
1521 ױ
1522 ײ
1523 ׳
1524 ״
1525 ׵
1526 ׶
1527 ׷
1528 ׸
1529 ׹
1530 ׺
1531 ׻
1532 ׼
1533 ׽
1534 ׾
1535 ׿
1536 ؀
1537 ؁
1538 ؂
1539 ؃
1540 ؄
1541 ؅
1542 ؆
1543 ؇
1544 ؈
1545 ؉
1546 ؊
1547 ؋
1548 ،
1549 ؍
1550 ؎
1551 ؏
1552 ؐ
1553 ؑ
1554 ؒ
1555 ؓ
1556 ؔ
1557 ؕ
1558 ؖ
1559 ؗ
1560 ؘ
1561 ؙ
1562 ؚ
1563 ؛
1564 ؜
1565 ؝
1566 ؞
1567 ؟
1568 ؠ
1569 ء
1570 آ
1571 أ
1572 ؤ
1573 إ
1574 ئ
1575 ا
1576 ب
1577 ة
1578 ت
1579 ث
1580 ج
1581 ح
1582 خ
1583 د
1584 ذ
1585 ر
1586 ز
1587 س
1588 ش
1589 ص
1590 ض
1591 ط
1592 ظ
1593 ع
1594 غ
1595 ػ
1596 ؼ
1597 ؽ
1598 ؾ
1599 ؿ
1600 ـ
1601 ف
1602 ق
1603 ك
1604 ل
1605 م
1606 ن
1607 ه
1608 و
1609 ى
1610 ي
1611 ً
1612 ٌ
1613 ٍ
1614 َ
1615 ُ
1616 ِ
1617 ّ
1618 ْ
1619 ٓ
1620 ٔ
1621 ٕ
1622 ٖ
1623 ٗ
1624 ٘
1625 ٙ
1626 ٚ
1627 ٛ
1628 ٜ
1629 ٝ
1630 ٞ
1631 ٟ
1632 ٠
1633 ١
1634 ٢
1635 ٣
1636 ٤
1637 ٥
1638 ٦
1639 ٧
1640 ٨
1641 ٩
1642 ٪
1643 ٫
1644 ٬
1645 ٭
1646 ٮ
1647 ٯ
1648 ٰ
1649 ٱ
1650 ٲ
1651 ٳ
1652 ٴ
1653 ٵ
1654 ٶ
1655 ٷ
1656 ٸ
1657 ٹ
1658 ٺ
1659 ٻ
1660 ټ
1661 ٽ
1662 پ
1663 ٿ
1664 ڀ
1665 ځ
1666 ڂ
1667 ڃ
1668 ڄ
1669 څ
1670 چ
1671 ڇ
1672 ڈ
1673 ډ
1674 ڊ
1675 ڋ
1676 ڌ
1677 ڍ
1678 ڎ
1679 ڏ
1680 ڐ
1681 ڑ
1682 ڒ
1683 ړ
1684 ڔ
1685 ڕ
1686 ږ
1687 ڗ
1688 ژ
1689 ڙ
1690 ښ
1691 ڛ
1692 ڜ
1693 ڝ
1694 ڞ
1695 ڟ
1696 ڠ
1697 ڡ
1698 ڢ
1699 ڣ
1700 ڤ
1701 ڥ
1702 ڦ
1703 ڧ
1704 ڨ
1705 ک
1706 ڪ
1707 ګ
1708 ڬ
1709 ڭ
1710 ڮ
1711 گ
1712 ڰ
1713 ڱ
1714 ڲ
1715 ڳ
1716 ڴ
1717 ڵ
1718 ڶ
1719 ڷ
1720 ڸ
1721 ڹ
1722 ں
1723 ڻ
1724 ڼ
1725 ڽ
1726 ھ
1727 ڿ
1728 ۀ
1729 ہ
1730 ۂ
1731 ۃ
1732 ۄ
1733 ۅ
1734 ۆ
1735 ۇ
1736 ۈ
1737 ۉ
1738 ۊ
1739 ۋ
1740 ی
1741 ۍ
1742 ێ
1743 ۏ
1744 ې
1745 ۑ
1746 ے
1747 ۓ
1748 ۔
1749 ە
1750 ۖ
1751 ۗ
1752 ۘ
1753 ۙ
1754 ۚ
1755 ۛ
1756 ۜ
1757 ۝
1758 ۞
1759 ۟
1760 ۠
1761 ۡ
1762 ۢ
1763 ۣ
1764 ۤ
1765 ۥ
1766 ۦ
1767 ۧ
1768 ۨ
1769 ۩
1770 ۪
1771 ۫
1772 ۬
1773 ۭ
1774 ۮ
1775 ۯ
1776 ۰
1777 ۱
1778 ۲
1779 ۳
1780 ۴
1781 ۵
1782 ۶
1783 ۷
1784 ۸
1785 ۹
1786 ۺ
1787 ۻ
1788 ۼ
1789 ۽
1790 ۾
1791 ۿ
1792 ܀
1793 ܁
1794 ܂
1795 ܃
1796 ܄
1797 ܅
1798 ܆
1799 ܇
1800 ܈
1801 ܉
1802 ܊
1803 ܋
1804 ܌
1805 ܍
1806 ܎
1807 ܏
1808 ܐ
1809 ܑ
1810 ܒ
1811 ܓ
1812 ܔ
1813 ܕ
1814 ܖ
1815 ܗ
1816 ܘ
1817 ܙ
1818 ܚ
1819 ܛ
1820 ܜ
1821 ܝ
1822 ܞ
1823 ܟ
1824 ܠ
1825 ܡ
1826 ܢ
1827 ܣ
1828 ܤ
1829 ܥ
1830 ܦ
1831 ܧ
1832 ܨ
1833 ܩ
1834 ܪ
1835 ܫ
1836 ܬ
1837 ܭ
1838 ܮ
1839 ܯ
1840 ܰ
1841 ܱ
1842 ܲ
1843 ܳ
1844 ܴ
1845 ܵ
1846 ܶ
1847 ܷ
1848 ܸ
1849 ܹ
1850 ܺ
1851 ܻ
1852 ܼ
1853 ܽ
1854 ܾ
1855 ܿ
1856 ݀
1857 ݁
1858 ݂
1859 ݃
1860 ݄
1861 ݅
1862 ݆
1863 ݇
1864 ݈
1865 ݉
1866 ݊
1867 ݋
1868 ݌
1869 ݍ
1870 ݎ
1871 ݏ
1872 ݐ
1873 ݑ
1874 ݒ
1875 ݓ
1876 ݔ
1877 ݕ
1878 ݖ
1879 ݗ
1880 ݘ
1881 ݙ
1882 ݚ
1883 ݛ
1884 ݜ
1885 ݝ
1886 ݞ
1887 ݟ
1888 ݠ
1889 ݡ
1890 ݢ
1891 ݣ
1892 ݤ
1893 ݥ
1894 ݦ
1895 ݧ
1896 ݨ
1897 ݩ
1898 ݪ
1899 ݫ
1900 ݬ
1901 ݭ
1902 ݮ
1903 ݯ
1904 ݰ
1905 ݱ
1906 ݲ
1907 ݳ
1908 ݴ
1909 ݵ
1910 ݶ
1911 ݷ
1912 ݸ
1913 ݹ
1914 ݺ
1915 ݻ
1916 ݼ
1917 ݽ
1918 ݾ
1919 ݿ
1920 ހ
1921 ށ
1922 ނ
1923 ރ
1924 ބ
1925 ޅ
1926 ކ
1927 އ
1928 ވ
1929 މ
1930 ފ
1931 ދ
1932 ތ
1933 ލ
1934 ގ
1935 ޏ
1936 ސ
1937 ޑ
1938 ޒ
1939 ޓ
1940 ޔ
1941 ޕ
1942 ޖ
1943 ޗ
1944 ޘ
1945 ޙ
1946 ޚ
1947 ޛ
1948 ޜ
1949 ޝ
1950 ޞ
1951 ޟ
1952 ޠ
1953 ޡ
1954 ޢ

1955 ޣ
1956 ޤ
1957 ޥ
1958 ަ
1959 ާ
1960 ި
1961 ީ
1962 ު
1963 ޫ
1964 ެ
1965 ޭ
1966 ޮ
1967 ޯ
1968 ް
1969 ޱ
1970 ޲
1971 ޳
1972 ޴
1973 ޵
1974 ޶
1975 ޷
1976 ޸
1977 ޹
1978 ޺
1979 ޻
1980 ޼
1981 ޽
1982 ޾
1983 ޿
1984 ߀
1985 ߁
1986 ߂
1987 ߃
1988 ߄
1989 ߅
1990 ߆
1991 ߇
1992 ߈
1993 ߉
1994 ߊ
1995 ߋ
1996 ߌ
1997 ߍ
1998 ߎ
1999 ߏ