In [2]:
#sorted()
number_list=[1,3,4,6,7,3,2,5,6,9,2]
ordered_list=sorted(number_list)
print(ordered_list)
print(number_list)

[1, 2, 2, 3, 3, 4, 5, 6, 6, 7, 9]
[1, 3, 4, 6, 7, 3, 2, 5, 6, 9, 2]

In [5]:
#.sort()
number_list=[1,3,4,6,7,3,2,5,6,9,2]
print(number_list)
ordered_list=number_list.sort()
print(ordered_list)

[1, 3, 4, 6, 7, 3, 2, 5, 6, 9, 2]
None

In [6]:
name_list=["Sarah", "Chen", "Mamado", "Sam", "Jack", "Adam","David"]
sorted(name_list)

['Adam', 'Chen', 'David', 'Jack', 'Mamado', 'Sam', 'Sarah']

In [7]:
sorted(name_list,reverse=True)

['Sarah', 'Sam', 'Mamado', 'Jack', 'David', 'Chen', 'Adam']

In [8]:
sorted(number_list,reverse=True)

[9, 7, 6, 6, 5, 4, 3, 3, 2, 2, 1]

In [11]:
name_list.sort(key=len)

In [12]:
name_list

['Sam', 'Chen', 'Jack', 'Adam', 'Sarah', 'David', 'Mamado']

In [13]:
sorted(name_list,key=len)

['Sam', 'Chen', 'Jack', 'Adam', 'Sarah', 'David', 'Mamado']

In [14]:
full_name_list=[["John","Smith"],
                ["Sam","Mack"],
                ["Noah","Jones"],
                ["Zack","Black"],
                ["Adam","Zor"],
               ]

In [15]:
sorted(full_name_list)

[['Adam', 'Zor'],
 ['John', 'Smith'],
 ['Noah', 'Jones'],
 ['Sam', 'Mack'],
 ['Zack', 'Black']]

In [19]:
sorted(full_name_list,key=lambda x:x[1])

[['Zack', 'Black'],
 ['Noah', 'Jones'],
 ['Sam', 'Mack'],
 ['John', 'Smith'],
 ['Adam', 'Zor']]

In [21]:
sorted(full_name_list,key=lambda x:len(x[0]))

[['Sam', 'Mack'],
 ['John', 'Smith'],
 ['Noah', 'Jones'],
 ['Zack', 'Black'],
 ['Adam', 'Zor']]

In [22]:
sorted(full_name_list,key=lambda x:len(x[1]))

[['Adam', 'Zor'],
 ['Sam', 'Mack'],
 ['John', 'Smith'],
 ['Noah', 'Jones'],
 ['Zack', 'Black']]

In [23]:
#for a list of first names, and their corresponding city names, 
#sort by name, len(name), city, len(city)
name_city_list=[["John","New York"],
                ["Sam","Seattle"],
                ["Noah","Paris"],
                ["Zack","Budapest"],
                ["Adam","Athens"],
               ]
sorted(name_city_list,key=lambda x:len(x[1]))

[['Noah', 'Paris'],
 ['Adam', 'Athens'],
 ['Sam', 'Seattle'],
 ['John', 'New York'],
 ['Zack', 'Budapest']]

In [24]:
list1=[1, 2, 2, 3, 3, 4, 5, 6, 6, 7, 9]
list1.index(4)

5

In [25]:
list1[5]

4

In [27]:
for i in range(len(list1) ):
    cur_item=list1[i]
    print(i, cur_item)

0 1
1 2
2 2
3 3
4 3
5 4
6 5
7 6
8 6
9 7
10 9

In [31]:
list1=[0,1, 2, 2,2, 3, 3, 3, 3, 4, 5, 6, 6, 7, 9,]
import time
t0=time.time()
for i in range(len(list1) ):
    cur_item=list1[i]
    if cur_item==4: print(i, cur_item)
t1=time.time()    
print("elapsed",t1-t0)

9 4
elapsed 0.0005931854248046875

In [32]:
looking_for_value=4
list1=[0,1, 2, 2,2, 3, 3, 3, 3, 4, 5, 6, 6, 7, 9]

In [58]:
import bisect
import random

# Use a constant see to ensure that we see
# the same pseudo-random numbers each time
# we run the loop.
random.seed(10)

# Generate 20 random numbers and
# insert them into a list in sorted
# order.
l = []
for i in range(1, 20):
    r = random.randint(64, 100)
    r_char=chr(r)
    #print(r,chr(r))
    #position = bisect.bisect(l, r)
    position = bisect.bisect(l, r_char)
    #position = 0
    #bisect.insort(l, r)
    bisect.insort(l, r_char)
    print( '%2d %2s %2d' % (r, r_char, position), l)

100  d  0 ['d']
66  B  0 ['B', 'd']
91  [  1 ['B', '[', 'd']
94  ^  2 ['B', '[', '^', 'd']
100  d  4 ['B', '[', '^', 'd', 'd']
64  @  0 ['@', 'B', '[', '^', 'd', 'd']
77  M  2 ['@', 'B', 'M', '[', '^', 'd', 'd']
93  ]  4 ['@', 'B', 'M', '[', ']', '^', 'd', 'd']
95  _  6 ['@', 'B', 'M', '[', ']', '^', '_', 'd', 'd']
81  Q  3 ['@', 'B', 'M', 'Q', '[', ']', '^', '_', 'd', 'd']
74  J  2 ['@', 'B', 'J', 'M', 'Q', '[', ']', '^', '_', 'd', 'd']
66  B  2 ['@', 'B', 'B', 'J', 'M', 'Q', '[', ']', '^', '_', 'd', 'd']
97  a 10 ['@', 'B', 'B', 'J', 'M', 'Q', '[', ']', '^', '_', 'a', 'd', 'd']
95  _ 10 ['@', 'B', 'B', 'J', 'M', 'Q', '[', ']', '^', '_', '_', 'a', 'd', 'd']
84  T  6 ['@', 'B', 'B', 'J', 'M', 'Q', 'T', '[', ']', '^', '_', '_', 'a', 'd', 'd']
68  D  3 ['@', 'B', 'B', 'D', 'J', 'M', 'Q', 'T', '[', ']', '^', '_', '_', 'a', 'd', 'd']
79  O  6 ['@', 'B', 'B', 'D', 'J', 'M', 'O', 'Q', 'T', '[', ']', '^', '_', '_', 'a', 'd', 'd']
87  W  9 ['@', 'B', 'B', 'D', 'J', 'M', 'O', 'Q', 'T', 'W', '[', ']', '^', '_', '_', 'a', 'd', 'd']
66  B  3 ['@', 'B', 'B', 'B', 'D', 'J', 'M', 'O', 'Q', 'T', 'W', '[', ']', '^', '_', '_', 'a', 'd', 'd']

In [61]:
our_list=[1,3,5,6,7,8,10,12]
number_to_insert=13
bisect.insort(our_list, number_to_insert)
print(our_list)

[1, 3, 5, 6, 7, 8, 10, 12, 13]

In [64]:
our_list=[11,3,5,2,7,8,10,12]
number_to_insert=4
bisect.insort(our_list, number_to_insert)
print(our_list)

[11, 3, 4, 5, 2, 7, 8, 10, 12]